.HeroArea {
  height: 400px;
  background: linear-gradient(to right, #5f8aff, #c77bfe);
  padding-top: 60px;
}
.HeroArea h1 {
  color: goldenrod;
}
.HeroArea p {
  font-size: 1.2em;
  color: white;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background-color: #fff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.mt {
  margin-top: 20px;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
